* {
    box-sizing: border-box;
}
/* Remove all default margin and padding */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.main-header {
    font-family: soleil_bold, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
}

.img-logo {
    width: 200px;
    height: auto;
}

.logo {
    margin-right: -100px;
    margin-left: -50px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10px;
}
/* Flex the unorderlist to put the list on the same line */
.navbar-1 ul, .navbar-2 ul {
    display: flex;
}
/* Remove the dot and set the list-style-type to none*/
.navbar-1 li, .navbar-2 li {
    list-style-type: none;
    padding: 10px;
}
/* Remove the underline from the links and remove the default color */
.navbar-1 a, .navbar-2 a {
    text-decoration: none;
    color: black;
}

.navbar-1 ul {
    margin-left: -180px;
}

.navbar-1 li {
    font-weight: 700;
}

.navbar-2 li {
    font-weight: 400;
    font-size: 16px;
}

a.button {
    padding: 10px 25px;
    border: 2px solid #00a82d;
    border-radius: 3px;
    color: #00a82d;
    font-size: 15px;
}